<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>HOME</title>
    <style>
      .custom-search-btn {
          background-color:white ;
          color: #007BFF ;
          border: 2px solid #007BFF ;
          /*transition: 0.3s ease-in-out;*/
      }
  
      .custom-search-btn:hover {
          background-color: #007BFF ;
          color: white ;
      }
  </style>
</head>

<body style="background-color:#F8F9FA;">
	<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #007BFF;">
    <div class="container-fluid" >
      <a class="navbar-brand" href="#" style="color: aliceblue;">E-STORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'disconnect' %}" style="color: white;">Disconnect</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'seller/home' %}" style="color: white;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_page' %}" style="color: white;">ADD</a>
          </li>
        </ul>

        <form method="POST">
          {% csrf_token %}
          <button formaction="{% url 'seller/sell_products' %}" class="btn btn-outline-success custom-search-btn">Sell</button>
          <button formaction="{% url 'seller/auction_products' %}" class="btn btn-outline-success custom-search-btn">Auction</button>
        </form>

      </div>
    </div>
  </nav>

	<div class="container mt-5" >
        <h2 class="text-center mb-4">Our Products</h2>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4" >
                    <div class="card shadow-sm" >
                      <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 250px; object-fit: cover; {% if type == 0 and product.quantity == 0 %} opacity: 0.3; {% endif %}">
                      <div class="card-body">
                        {% if type == 0 and product.quantity == 0 %}
                          <h2>OUT OF STOCK.</h2>
                        {% endif %}    
                        <h5 class="card-title">{{ product.name }}</h5>
                        <div class="card-text">Price : {{product.price}}</div>
                        <div class="card-text">Category : {{product.category}}</div>
                        {% if type == 0 %}
                          <div class="card-text">Quantity : {{product.quantity}}</div>
                        {% elif type == 1 %}
                          <div class="card-text">Auction Closed : {{product.is_closed}}</div>
                          <div class="card-text">Current Bid : {%if product.is_there_bider%} There is a bider {%else%} None {%endif%}</div>
                          {%if product.can_close %}
                            <a href="{% url 'seller/close_auction' product.id %}" class="btn btn-primary">Close</a>
                          {% endif %}
                        {% endif %}
                        <a href="{% url 'seller/details' product.id type %}" class="btn btn-primary">Details</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"> </script>
</body>
</html>